
*.json
*.h5
*.hdf5
.DS_Store

data/*/
implementations/*/data
implementations/*/images
implementations/*/saved_models

/ocr_dataset_create_jp
implementations/*/jp_ckpt
implementations/*/jp_images

__pycache__
